MyCertManager/A1CertificateManager/obj/Debug/A1CertificateManager.csproj.FileListAbsolute.txt
MyCertManager/A1CertificateManager/obj/Release/A1CertificateManager.csproj.FileListAbsolute.txt
MyCertManager/CertificateCore/obj/Debug/CertificateCore.csproj.FileListAbsolute.txt
MyCertManager/CertificateCore/obj/Release/CertificateCore.csproj.FileListAbsolute.txt
MyCertManager/CertificateCore/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MyCertManager/CertificateCore/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
MyCertManager/CertificateCore/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
MyCertManager/CryptoServiceProviderDetector/obj/Debug/CryptoServiceProviderDetector.csproj.FileListAbsolute.txt
MyCertManager/CryptoServiceProviderDetector/obj/Release/CryptoServiceProviderDetector.csproj.FileListAbsolute.txt
MyCertManager/CryptoServiceProviderDetectorNUnitTests/bin/Debug/CryptoServiceProviderDetectorNUnitTests.exe.VisualState.xml
MyCertManager/CryptoServiceProviderDetectorNUnitTests/bin/Debug/CryptoServiceProviderDetectorNUnitTests.exe.config
MyCertManager/CryptoServiceProviderDetectorNUnitTests/bin/Debug/CryptoServiceProviderDetectorNUnitTests.vshost.exe.config
MyCertManager/CryptoServiceProviderDetectorNUnitTests/bin/Debug/CryptoServiceProviderDetectorNUnitTests.vshost.exe.manifest
MyCertManager/CryptoServiceProviderDetectorNUnitTests/bin/Debug/TestResult.xml
MyCertManager/CryptoServiceProviderDetectorNUnitTests/bin/Release/CryptoServiceProviderDetectorNUnitTests.exe.config
MyCertManager/CryptoServiceProviderDetectorNUnitTests/obj/Debug/CryptoServiceProviderDetectorNUnitTests.csproj.FileListAbsolute.txt
MyCertManager/CryptoServiceProviderDetectorNUnitTests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MyCertManager/CryptoServiceProviderDetectorNUnitTests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
MyCertManager/CryptoServiceProviderDetectorNUnitTests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
MyCertManager/CryptoServiceProviderDetectorNUnitTests/obj/Release/CryptoServiceProviderDetectorNUnitTests.csproj.FileListAbsolute.txt
MyCertManager/CryptoServiceProviderDetectorNUnitTests/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MyCertManager/CryptoServiceProviderDetectorNUnitTests/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
MyCertManager/CryptoServiceProviderDetectorNUnitTests/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
